<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>Quick Hummus Recipe</title>
    </head>
    <body>
        <h1>Quick hummus recipe</h1>

        <p>This recipe makes quick, tasty hummus, with no messing. It has been adapted from a number of different recipes that I have read over the years.</p>

        <p>Hummus is a delicious thick paste used heavily in Greek and Middle Eastern dishes. It is very tasty with salad, grilled meats and pitta breads.</p>

        <h2>Ingredients</h2>

        <ul>
            <li>1 can <b>(400g)</b> of chick peas (garbanzo beans)</li>
            <li><b>175g</b> of tahini</li>
            <li><b>6</b> sundried tomatoes</li>
            <li><b>Half</b> a red pepper</li>
            <li><b>A pinch</b> of cayenne pepper</li>
            <li><b>1 clove</b> of garlic</li>
            <li><b>A dash</b> of olive oil</li>
        </ul>

        <h2>Instructions</h2>

        <ol>
            <li><b>Remove</b> the skin from the garlic, and chop coarsely</li>
            <li><b>Remove</b> all the seeds and stalk from the pepper, and chop coarsely</li>
            <li><b>Add</b> all the ingredients into a food processor</li>
            <li><b>Process</b> all the ingredients into a paste.
                <ul>
                    <li>If you want a <b>coarse</b> "chunky" hummus, process it for a <b>short time</b></li>
                    <li>If you want a <b>smooth</b> hummus, process it for a <b>longer time</b></li>
                </ul>
            </li>
        </ol>

        <p>For a different flavour, you could try blending in a small measure of lemon and coriander, chili pepper, lime and chipotle, harissa and mint, or spinach and feta cheese. Experiment and see what works for you.</p>

        <h2>Storage</h2>

        <p><b>Refrigerate</b> the finished hummus in a <b>sealed container</b>. You should be able to use it for about <b>a week</b> after you've made it. If it starts to become <b>fizzy</b>, you should definitely <b>discard it</b>.</p>

        <p>Hummus is <b>suitable for freezing</b>; you should thaw it and use it within a couple of <b>months</b>.</p>

        <p><a href="mailto:?subject=Hummus%20Recipe&body=Here's%20a%20great%20hummus%20recipe%20I%20found!">Share recipe via email</a></p>
    </body>
</html>