<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="lurence">
        <meta name="description" content="A simple website with some simple and encouraging bible verses to uplift your mood.">
	    <!-- Add Open Graph (Facebook) and Twitter metadata
	     Add favourites and shortcut icon -->
        <title>My test page</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="styles/style.css" rel="stylesheet">
        <!-- third-generation iPad with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://developer.cdn.mozilla.net/static/img/favicon144.a6e4162070f4.png">
        <!-- iPhone with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://developer.cdn.mozilla.net/static/img/favicon114.0e9fabd44f85.png">
        <!-- first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://developer.cdn.mozilla.net/static/img/favicon72.8ff9d87c82a0.png">
        <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="https://developer.cdn.mozilla.net/static/img/favicon57.a2490b9a2d76.png">
        <!-- basic favicon -->
        <link rel="shortcut icon" href="https://developer.cdn.mozilla.net/static/img/favicon32.e02854fdcf73.png">
    </head>
    <body>
        <h1>Verse for the season</h1>
        <h2>Welcome Back</h2>
        <img src="images/psalms-105-37.jpg" alt="My test image">
        <p id="verse">
            He brought them forth also with silver and gold and there was not one feeble person among their tribes. -
            <a
                    href="https://www.biblegateway.com/passage/?search=Psalm+105%3A37&version=KJV"
                    title="Bible Gateway Online Bible"
                    target="_blank"
            >Psalms 105:37</a>
        </p>
        <!-- <button id="new-username">Change user</button> -->
        <script src="scripts/main.js"></script>
        <!-- <script src="scripts/username.js"></script> -->
    </body>
</html>
