<!DOCTYPE html>
<html lang="en-UK">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="lurence">
        <meta name="description" content="A simple website with some simple and encouraging bible verses to uplift your mood.">
	<!-- Add Open Graph and Twitter metadata 
	     Add favourites and shortcut icon -->
	
        <title>My test page</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="styles/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Verse for the season</h1>
        <h2>Welcome Back</h2>
        <img src="images/psalms-105-37.jpg" alt="My test image">
        <p id="verse">
            He brought them forth also with silver and gold and there was not one feeble person among their tribes. -
            <a
                    href="https://www.biblegateway.com/passage/?search=Psalm+105%3A37&version=KJV"
                    title="Bible Gateway Online Bible"
                    target="_blank"
            >Psalms 105:37</a>
        </p>
        <!-- <button id="new-username">Change user</button> -->
        <script src="scripts/main.js"></script>
        <!-- <script src="scripts/username.js"></script> -->
    </body>
</html>
