<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>Social</title>
        <link href="styles/social.css" rel="stylesheet" >
    </head>

    <body>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="pictures">Pictures</a></li>
            <li><a href="projects">Projects</a></li>
            <li>Social</li>
        </ul>

        <h1>Social media</h1>

        <p>
            Welcome to my social media page. Here are some quotes for you.
            As
            <u>
                <strong>
                    <cite title="Click to open source">
                        <a href="http://www.brainyquote.com/quotes/authors/c/confucius.html">
                            Confucius' quotes site
                        </a>
                    </cite>
                </strong>
            </u> says:
        </p>

        <blockquote cite="http://www.brainyquote.com/quotes/authors/c/confucius.html">
            <p>It does not matter how slowly you go as long as you do not stop.</p>
        </blockquote>
        <q cite="http://www.affirmationsforpositivethinking.com/">
            I also love the concept of positive thinking, and The Need To Eliminate Negative Self Talk
            (as mentioned in
            <u>
                <strong>
                    <cite title="Click to open source">
                        <a href="http://www.affirmationsforpositivethinking.com/">
                            Affirmations for Positive Thinking
                        </a>
                    </cite>
                </strong>
            </u>.)
        </q>

        <address>
            <p>
                lurence<br>
                Eastern Singapore<br>
            </p>

            <ul>
                <li>Tel: 8321 0616</li>
                <li>Email: lokelucerne@gmail.com</li>
            </ul>
        </address>
    </body>
</html>